.link-dom{
    text-decoration: none;
    color: #696969;
}

.link-dom:hover{
    color: #FFF;
}

.photos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.title-albums{
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: #808080;
}
